@media screen and (max-width: 819px) {
  #card1 {
  width: fit-content !important;
  height: fit-content !important;
  };
  #card {
    width: 100% !important;
    height: fit-content !important;
    color: red !important;
  }
}


#sh {
  /* text-shadow: 1px 1px whitesmoke; */
  color: #242a57;
  font-weight: 900;
}

#ro {
  padding-left: none !important;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: url("./target.png"); /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.8em; /* Also needed for space (tweak if needed) */
  margin-left: -.8em; /* Also needed for space (tweak if needed) */
}

#butt { 
    background-color: #acd8ec;
    margin-top: 10rem;
    margin-bottom: 1rem;
    color: #242a57;
    width: fit-content;
    padding-top: 1rem;
}

#buttconn {
    text-align: center;
}

#gst {
    background-color: #f4d1ae;
}






#img{
  max-width: 20rem;
  text-align: left;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 1rem;
}

#img1{
  max-width: 20rem;
  text-align: left;
  margin-left: 30%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

