.navbar {
  color: whitesmoke !important;
  background-color: #12113a;
  color: #691515c9;
}

#navtext {
  font-size: 2rem;
  color: #ecf1f5;
  font-weight: 400;
  font-family: "logo", serif;
}

@media screen and (max-width: 525px) {
  #navtext {
    font-size: 1.4rem;
  }
  #nav1 {
    padding: 0;
  }
  #log {
    width: "30%" !important;
  }
}

@media screen and (max-width: 400px) {
  #navtext {
    font-size: 1rem;
  }

  #cont {
    margin-left: 0;
  }

  #nav1 {
    padding: 0;
  }
  #log {
    width: "80%" !important;
  }
}
