.App {
  background-color: #242a57cc
}




.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'webfont';
  src: local('webfont'), url(./AtkinsonHyperlegible-Regular.ttf) format('truetype')}
      