.App {
  background-color: #242a57
}

@font-face {
  font-family: 'poppins';
  src: local('poppins'), url(./Poppins.ttf) format('truetype')}


.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'webfont';
  src: local('webfont'), url(./AtkinsonHyperlegible-Regular.ttf) format('truetype')}

      

  