.App {
  background-color: #242a57
}

@font-face {
  font-family: 'poppins';
  src: local('poppins'), url(./Poppins.ttf) format('truetype')}


.App-link {
  color: #61dafb;
}

#maindiv {
  border-style: double;
  border-width: 0 .6rem;
  margin: 0px 5px 0 5px;
  border-color: #1f2a47;
  min-height: 90vh;
}

@font-face {
  font-family: 'webfont';
  src: local('webfont'), url(./atkinson.ttf) format('truetype')}


  @font-face {
    font-family: 'logo';
    src: local('logo'), url(./Bebas.ttf) format('truetype')}
      

  